<section class="resume-section" id="about">
  <div class="resume-section-content">
    <h1 class="mb-0">
      Victor
      <span class="text-primary">"Xokito"</span>
      Pinheiro
    </h1>
    <h3 class="mb-0">
      Buscando Emprego
    </h3>
    <div class="subheading mb-5">
      Av. Primeiro "nóis",13 · Depois "nóis" de novo, BR 80810 · (317) 585-8468
      ·
      <a href="mailto:victorpinheiro.dev@gmail.com"
        >victorpinheiro.dev@gmail.com</a
      >
    </div>
    <p class="lead mb-5">
      Olá, seja bem vindo ao meu currículo e pode me chamar de Xokito. Eu venho
      estudando programação desde 2018 e meu maior foco é ser um profissional em
      Front-end, tenho conhecimento prévio de Angular e React, pretendo ser
      proficiente nessas duas formas de desenvolvimento.<br>
      Ao lado, você encontra minhas informações acadêmica, profissionais e abaixo, você encontra minhas redes sociais para me conhecer melhor! 
    </p>
    <div class="social-icons">
      <a class="social-icon" href="https://linkedin.com/in/victor-sousa-pinheiro/" target="_blank" rel="noreferrer noopener"
        ><i class="fab fa-linkedin-in"></i
      ></a>
      <a class="social-icon" href="https://github.com/VictorPnheiro" target="_blank" rel="noreferrer noopener"
        ><i class="fab fa-github"></i
      ></a>
      <a
        class="social-icon"
        href="https://twitter.com/O_Xokito"
        target="_blank"
        rel="noreferrer noopener"
        ><i class="fab fa-twitter"></i
      ></a>
      <a class="social-icon" href="https://www.facebook.com/xokitox3" target="_blank" rel="noreferrer noopener"
        ><i class="fab fa-facebook-f"></i
      ></a>
    </div>
  </div>
</section>
